<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/index.css">
</head>
<body>
<div class="main">
	<div class="logo clearfix">
		<img src="../images/index/logo.png" alt="">
		<div class="right">
			<h3>导游精灵管理平台</h3>
			<p>DYJL.com</p>
		</div>
	</div>
	<div class="enter">
		<div class="inner">
			<h6>-登录导游精灵-</h6>
			<form action="">
				<input class="account" type="text" placeholder="请输入账号"/>
				<input class="keyword" type="password" placeholder="请输入密码"/>
				<p>
					<i class="remember"></i>
					<span>记住我</span>
				</p>
				<a id="login">登录</a>
			</form>
		</div>
	</div>
	<!--<div class="error">-->
		<!--<p>账号与密码不匹配,请重新登录</p>-->
	<!--</div>-->
</div>
<script src="../js/jquery-3.2.1.js"></script>
<script src="../js/index.js"></script>
<!--<script src="../js/server.js"></script>-->
</body>
</html>